body {
  font-family: Roboto;
  --main-color: #FFC107;
}

.layout-header {
  width: 100%;
  height: 56px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
}

.menu_button {
  margin-top: 16px;
  width: 24px;
  height: 24px;
}

.raised_button{
  font-family: Roboto;
  color: #FFFFFF;
  font-size: 14pt;
  text-decoration: none;
  height: 36px;
  min-width: 88px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

.raised_button:focus {
  outline: none;
}

.raised_button.resting {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.raised_button.pressed {
  transform: scale(1.02,1.02);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.slider {
  -webkit-appearance: none;
  width: 200px;
  background: transparent;
  --slider-circle-size: 16px;
  --slider-circle-radius: calc(var(--slider-circle-size)/2);
  --slider-track-height: 3px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--slider-circle-size);
  width: var(--slider-circle-size);
  border-radius: var(--slider-circle-radius);
  background: var(--main-color);
  cursor: pointer;
  margin-top: -6px;
}

.slider::-moz-range-thumb {
  height: var(--slider-circle-size);
  width: var(--slider-circle-size);
  border-radius: var(--slider-circle-radius);
  background: var(--main-color);
  cursor: pointer;
}

.slider::-ms-thumb {
  height: var(--slider-circle-size);
  width: var(--slider-circle-size);
  border-radius: var(--slider-circle-radius);
  background: var(--main-color);
  cursor: pointer;
}

.slider:focus {
  outline: none;
}

.slider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
  background: var(--main-color);
  border-radius: 1.3px;
}


.slider::-moz-range-track {
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
  background: var(--main-color);
  border-radius: 1.3px;
}

.slider::-ms-track {
  width: 100%;
  height: var(--slider-track-height);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.slider::-ms-fill-lower {
  background: var(--main-color);
  border-radius: 2.6px;
}

.slider::-ms-fill-upper {
  background: var(--main-color);
  border-radius: 2.6px;
}
