<div class="index_body">
  <div class="large_whiteframe">
    <button onclick="pressed(this)" type="button" name="button" class="raised_button resting">Test</button>
    <input class="slider" type="range" value="90">
  </div>
</div>
