<!DOCTYPE html>
<html>
    <head>
      <link href="./css/main.css" rel="stylesheet"/>
      <meta charset="utf-8"/>
      <title><%=File.basename(__FILE__) %></title>
      <script src="js/functions.js"/>
      </script>
    </head>
    <body>
      <div class="navigation_drawer">
        <div class="navigation_row">
          <img class="navigation_icon" src="./img/settings_black.png" alt="">
          <h2 class="navigation_titles">Settings</h2>
        </div>
      </div>
      <header class="layout-header">
        <img class="menu_button" src="./img/menu.png" alt="menu">
        <h1>Water</h1>
        <img class="drop_down_button" src="./img/arrow_drop_down.png" alt="drop_down">
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <h1>Footer</h1>
      </footer>

    </body>
</html>
