<!DOCTYPE html>
<html>
    <head>
      <link href="./css/main.css" rel="stylesheet"/>
      <meta charset="utf-8"/>
      <title><%=File.basename(__FILE__) %></title>
      <script src="js/functions.js"/>
      </script>
    </head>
    <body>
      <div class="navigation_drawer hidden_drawer" id="drawer">
        <div class="whitespace">
        </div>
        <a href="index.html" class="navigation_link">
          <div class="navigation_row">
            <img class="navigation_icon" src="./img/home_black.png" alt="">
            <h2 class="navigation_titles">Home</h2>
          </div>
        </a>
        <a href="settings.html" class="navigation_link">
          <div class="navigation_row">
            <img class="navigation_icon" src="./img/settings_black.png" alt="">
            <h2 class="navigation_titles">Settings</h2>
          </div>
        </a>
        <a href="info.html" class="navigation_link">
          <div class="navigation_row">
            <img class="navigation_icon" src="./img/info_black.png" alt="">
            <h2 class="navigation_titles" >About us</h2>
          </div>
        </a>
        <a href="settings.html" class="navigation_link">
          <div class="navigation_row">
            <img class="navigation_icon" src="./img/settings_black.png" alt="">
            <h2 class="navigation_titles">Settings</h2>
          </div>
        </a>
        <a href="settings.html" class="navigation_link">
          <div class="navigation_row">
            <img class="navigation_icon" src="./img/settings_black.png" alt="">
            <h2 class="navigation_titles">Settings</h2>
          </div>
        </a>
      </div>
      <header class="layout_header">
        <img class="menu_button" src="./img/menu.png" alt="menu" onclick="show_drawer()">
        <h1>Water</h1>
        <img class="drop_down_button" src="./img/arrow_drop_down.png" alt="drop_down">
      </header>
      <main onclick="hide_drawer()">
        <%= yield %>
      </main>
      <footer>
        <h1>Footer</h1>
      </footer>

    </body>
</html>
