<div class="large_whiteframe_list">
  <div class="whiteframe_row">
    <div class="left_side">
      <h2 class="setting_text">Splashing</h2>
    </div>
    <div class="right_side">
      <label class="switch">
        <input type="checkbox">
        <div class="slide"></div>
      </label>
    </div>
  </div>
  <div class="whiteframe_row">
    <div class="left_side">
      <h2 class="setting_text">Splashing</h2>
    </div>
    <div class="right_side">
      <label class="switch">
        <input type="checkbox">
        <div class="slide"></div>
      </label>
    </div>
  </div>
  <div class="whiteframe_row">
    <div class="left_side">
      <h2 class="setting_text">Splashing</h2>
    </div>
    <div class="right_side">
      <label class="switch">
        <input type="checkbox">
        <div class="slide"></div>
      </label>
    </div>
  </div>
  <div class="whiteframe_row">
    <div class="left_side">
      <h2 class="setting_text">Disgusting drinks</h2>
    </div>
    <div class="right_side">
      <label class="switch">
        <input type="checkbox">
        <div class="slide"></div>
      </label>
    </div>
  </div>
  <div class="whiteframe_row">
    <div class="left_side">
      <h2 class="setting_text">Splashing</h2>
    </div>
    <div class="right_side">
      <label class="switch">
        <input type="checkbox">
        <div class="slide"></div>
      </label>
    </div>
  </div>
  <div class="whiteframe_row">
    <div class="left_side">
      <h2 class="setting_text">Splashing</h2>
    </div>
    <div class="right_side">
      <label class="switch">
        <input type="checkbox">
        <div class="slide"></div>
      </label>
    </div>
  </div>
</div>
